/* Global site */
* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    box-sizing:border-box;
}

body {
    background: url("../images/background-image1.webp") top;
    background-size: cover;
}

/* Styling of Quiz App container */
.app {
    background-color: rgba(255, 209, 220, 0.5);
    width: 90%;
    max-width: 650px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quiz {
    padding: 20px 0;
}

/* Styling of Headings */
.app h1 {
    font-family: "Freeman", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}


.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: center;
}

/* Styling of Buttons */
.btn {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgb(165, 115, 212, 0.8);
    color: white;
}

#next-btn, #start-btn {
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
}

.aim-btn {
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
}

/* Styling How to Play Modal inspired by and adapated from two youtube tutorials - https://youtu.be/JuLBQXERz8Y?si=SIWko1vAvb1OhP4p and https://youtu.be/ywtkJkxJsdg?si=tN05nAscKowR-hkd*/
.modal {
    padding: 1em;
    max-width: 60ch;
    text-align: center;
    margin: auto;
    border-width: thin;
}

.modal::backdrop {
    background-color: rgb(210, 199, 224);
}