/* Global site */
* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    box-sizing:border-box;
}

body {
    background: url("../images/background-image1.webp") top;
    background-size: cover;
}

/* Styling of Quiz App container */
.app {
    background-color: rgba(255, 209, 220, 0.7);
    width: 90%;
    max-width: 650px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quiz {
    padding: 20px 0;
}


/* Styling of Headings */
.app h1 {
    font-family: "Freeman", sans-serif;
    letter-spacing: 2px;
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 1px dashed #001e4d;
}


.quiz h2 {
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    padding-bottom: 1.5rem;
}

/* Styling of Question Counter */
#num-of-num {
    padding-bottom: 1.5rem;
}

/* Styling of Buttons */
.btn {
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #001e4d;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
}

.btn:hover:not([disabled]) {
    background-color: rgb(165, 115, 212, 0.8);
    color: white;
}

#next-btn {
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: none;
}

#start-btn {
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
}

.aim-btn {
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
}

.hide {
    display: none;
 }

/* Styling How to Play Modal inspired by and adapated from two youtube tutorials - https://youtu.be/JuLBQXERz8Y?si=SIWko1vAvb1OhP4p and https://youtu.be/ywtkJkxJsdg?si=tN05nAscKowR-hkd*/
.modal {
    padding: 1em;
    max-width: 60ch;
    text-align: center;
    margin: auto;
    border-width: thin;
}

.modal::backdrop {
    background-color: rgb(210, 199, 224);
  }

.modal h2 {
    font-family: "Freeman", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 6px;
    margin: 6px;
}

.modal p {
    padding: 6px;
    margin: 6px;
    text-align: left;
}

.button {
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 10px auto 0;
    border-radius: 4px;
}

/* Styling the feedback for right and wrong answers */
.correct{
    background-color: #C1E1C1;
}

.incorrect{
    background-color: #fa9187;
}